td {
    letter-spacing: 3px;
    text-align: center;
    color: chartreuse;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: blueviolet;
}
img{
    width: 150;
    height: 300px;
    object-fit: cover;
    height: 200;
    border-style: dashed;
    border-color: darkblue;


}
